#{list items:_station, as:'station'}
  <div class="ui five cards">
    <div class="secondary card">
      <div class="extra">
        <h3 class="header">${station.name}</h3>
      </div>
    </div>
    <div class="card">
      <div class="extra">
        <h3 class="header">Weather</h3>
        <p class="header">${station.weatherFromCode}</p>
      </div>
    </div>
    <div class="card">
      <div class="extra">
        <h3 class="header">Temperature</h3>
        <p class="header">${station.tempC}</p>
        <p class="header">${station.tempF}</p>
      </div>
    </div>
    <div class="card">
      <div class="extra">
        <h3 class="header">Wind</h3>
        <p class="header">${station.windBft}</p>
      </div>
    </div>
    <div class="card">
      <div class="extra">
        <h3 class="header">Pressure</h3>
        <p class="header">${station.pressureHPA}</p>
      </div>
    </div>
  </div>
#{/list}